*.o
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
*.cache
output.*
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
m4
missing
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
*.pot
*.gmo
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@quot.header
po/en@quot.insert-header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
src/.deps
src/Makefile
src/Makefile.in
src/cryptkeeper
stamp-h1
